## Machine Learning

In [22]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
import pandas as pd

df = datasets.load_iris(as_frame=True)
X, y = datasets.load_iris(return_X_y=True)
X.shape, y.shape

((150, 4), (150,))

In [28]:
df.data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [30]:
df.target.value_counts()

2    50
1    50
0    50
Name: target, dtype: int64

**1)** What kind of machine learning task is the following?

In [31]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=0)

print(f'Train sizes: {X_train.shape}, {y_train.shape}')
print(f'Test sizes: {X_test.shape}, {y_test.shape}')

clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

Train sizes: (90, 4), (90,)
Test sizes: (60, 4), (60,)

0.9666666666666667

**2)** What is the following code block doing?

In [32]:
from sklearn.model_selection import cross_val_score

clf = svm.SVC(kernel='linear', C=1, random_state=42)
scores = cross_val_score(clf, X_train, y_train, cv=5, scoring='accuracy')
scores

array([1.        , 1.        , 1.        , 1.        , 0.94444444])

**3)** When is it not enough to just look at a metric like accuracy? What needs to change regarding the target distribution?

**4)** Imagine you are training a classifier to detect shoplifters on surveillance images. What would be a suitable metric and why?

## Data Wrangling

In [7]:
import pandas as pd

In [8]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

**1)** How many rows and columns does the dataset have?

(193, 6)

**2)** How many continents are present in the dataset?

5

**3)** How much beer is served in Germany?

65    346
Name: beer_servings, dtype: int64

**4)** Which continent drinks more beer on average?

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

**5)** Which are the top 3 countries per continent according to beers served

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
159,South Africa,225,76,81,8.2,AF
62,Gabon,347,98,59,8.9,AF
117,Namibia,376,3,1,6.8,AF
87,Kazakhstan,124,246,12,6.8,AS
138,South Korea,140,16,9,9.8,AS
141,Russian Federation,247,326,73,11.5,AS
135,Poland,343,215,56,10.9,EU
65,Germany,346,117,175,11.3,EU
45,Czech Republic,361,170,134,11.8,EU
121,New Zealand,203,79,175,9.3,OC
8,Australia,261,72,212,10.4,OC
129,Palau,306,63,23,6.9,OC
132,Paraguay,213,117,74,7.3,SA
23,Brazil,245,145,16,7.2,SA
188,Venezuela,333,100,3,7.7,SA
184,USA,249,158,84,8.7,NaN
17,Belize,263,114,8,6.8,NaN
130,Panama,285,104,18,7.2,NaN

## SQL

Suppose we have the following schema with two tables: Ads and Events

* Ads(ad_id, campaign_id, status)
* status could be active or inactive
* Events(event_id, ad_id, source, event_type, date, hour)
* event_type could be impression, click, conversion

<img src="https://github.com/alexeygrigorev/data-science-interviews/blob/master/img/schema.png?raw=true" />


Write SQL queries to extract the following information:

**1)** The number of active ads.

<br/>


**2)** All active campaigns. A campaign is active if there’s at least one active ad.

<br/>

**3)** The number of active campaigns.

<br/>

**4)** The number of events per each ad — broken down by event type.

<img src="https://github.com/alexeygrigorev/data-science-interviews/blob/master/img/sql_4_example.png?raw=true" />

<br/>

**5)** The number of events over the last week per each active ad — broken down by event type and date (most recent first).

<img src="https://github.com/alexeygrigorev/data-science-interviews/blob/master/img/sql_5_example.png?raw=true" />

<br/>